$azulFoot: rgb(19, 24, 41);
footer {
    background-color: $azulFoot;
    color: white;
    font-family: 'Lucida Console', Monospace;
    text-align: center;
    a {
        text-decoration: none;
        color: inherit;
    }
}

.container {
    padding: 1rem;
    justify-content: space-evenly;
}