<footer>
  <div class="mifooter">
    <a href="" class="">DronU 2021</a>
    <a href="" class="">Privacidad y legal</a>
    <a href="" class="">Contacto</a>
    <a href="" class="">Empleo</a>
    <a href="" class="">Boletín de noticias</a>
  </div>
  <div>
    Aceptamos pagos con cryptomonedas:
    <br />
    Bitcoin
    <img
      src="../../../assets/images/bitcoin.png"
      alt="Bitcoin"
      width="32"
      height="32"
    />
    0x71C7656EC7ab88b098defB751B7401B5f6d8976F
    <br />
    Ethereum
    <img
      src="../../../assets/images/eth.png"
      alt="Ethereum"
      width="32"
      height="32"
    />
    DH5yaieqoZN36fDVciNyRueRGvGLR3mr7L
    <br />
    Dogecoin
    <img
      src="../../../assets/images/doge.png"
      alt="Dogecoin"
      width="32"
      height="32"
    />
    14pUXgwMqCG2WnT77XXztdamUaBM71Ueur
  </div>
</footer>
