@import "~swiper/swiper";
@import "~swiper/components/pagination/pagination";
@import "~swiper/components/navigation/navigation";

.swiper-container {
    width: 100%;
    height: 30%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h4 {
    text-align: center;
    // padding: 1rem;
    padding-top: 3rem;
}

.tool-image {
    width: 50%;
    // padding: 1rem;
    border-radius: 45px;
    justify-content: center;
}

h5 {
    text-align: left;
    // padding-top: 1rem;
    font-size: 2em;
    padding-bottom: 1rem;
}

.top {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 10rem;
    padding: 2rem;
}

label {
    color: grey;
}

input[type="radio"] {
    display: none;
}

.clasificacion {
    direction: rtl;
    /* right to left */
    unicode-bidi: bidi-override;
    /* bidi de bidireccional */
    font-size: 3em;
    // justify-content: left;
    padding-left: 24rem;
}

label:hover,
label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}

.carouselImg {
    height: 40vh;
    width: 100vh;
    justify-content: center;
}

.container-sol2 {
    height: 50vh;
    width: 50vw;
    padding: 2rem;
    margin-top: 1rem;
    justify-content: center;
    // border: 2px solid black;
}

.container-sol {
    // padding: 2rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
    justify-content: center;
}

.carousel-item {
    justify-content: center;
}