<nav id="hamnav">
  <a href="#"><img class="logo" src="../../../assets/images/logo.png" /></a>
  <label for="hamburger">&#9776;</label>
  <input type="checkbox" id="hamburger" />
  <div class="mainMenu" id="hamitems">
    <div class="itemVacio"></div>
    <a href="#">Alquiler</a>
    <a href="#">Venta</a>
    <a href="#">Cursos</a>
    <a href="#">Eventos</a>
    <div class="itemVacio"></div>
    <a href="#"><img class="cart" src="../../../assets/images/cart.png" /></a>
    <a href="#" class="cartText">Carrito</a>
    <a href="#">Login</a>
  </div>
</nav>
<!-- <div class="test2"></div> -->
<!-- <div class="test"></div> -->
