nav {
  display: grid;
  // justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0 3%;

  a {
    border: 1px solid black;
    // width: 100%;
  }
  .logo {
    // padding: 0 10%;
    a {
      width: auto;
      height: 100px;

      img {
        width: 100px;
        height: 100px;
      }
    }
  }
  .mainMenu {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }
  .login {
    a {
    }
  }
}
