<app-imagen-dron></app-imagen-dron>
<div class="flex-container">
  <img class="cardImg rounded-circle" src="../../../assets/images/javier-aspiroz.jpg" />
  <div class="myInputs">
    <div class="flex-container">
      <div class="form-outline border">
        <input type="text" id="form1" class="form-control" />
        <label class="form-label" for="form1">Nombre</label>
      </div>
      <div class="form-outline border">
        <input type="text" class="form-control" />
        <label class="form-label">Email</label>
      </div>
      <div class="form-outline border">
        <input type="password" class="form-control" />
        <label class="form-label">Contraseña</label>
      </div>
    </div>
    <div class="flex-container">
      <div class="form-outline border">
        <input type="text" class="form-control" />
        <label class="form-label">Dirección</label>
      </div>
      <div class="form-outline border">
        <input type="text" class="form-control" />
        <label class="form-label">Teléfono</label>
      </div>
      <div class="form-outline border">
        <input type="password" class="form-control" />
        <label class="form-label">Confirmar contraseña</label>
      </div>
    </div>
  </div>
</div>
<div class="flex-container-buttons">
  <button class="button-chulo" type="submit">Modificar perfil</button>
  <button class="button-chulo" type="submit">Cambiar contraseña</button>
</div>

<div class="container pedidos">
<h2>Tus pedidos</h2>
<div class="control-section">
  <ejs-grid class="sortingenabled" [dataSource]="data" allowPaging="true" allowSorting="true" 
    [enableHover]="false" [allowSelection]="true" [toolbar]="toolbar">
    <e-columns>
      <e-column field="order" headerText="Nº de Pedido" width="50"></e-column>
      <e-column field="date" headerText="Fecha" width="70" textAlign="Center"></e-column>
      <e-column field="type" headerText="Tipo" width="70" textAlign="Center"></e-column>
      <e-column field="address" headerText="Dirección de Envío" width="70" textAlign="Center"></e-column>
      <e-column field="price" headerText="Precio (€)" width="70" textAlign="Center"></e-column>
    </e-columns>
  </ejs-grid>
</div>
</div>