img {
  width: 10rem;
  height: 10rem;
  padding: 20px;
}
.myInputs {
  width: 100%;
  align-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  width: 100%;
  padding: 0 10%;
  margin: 20px 0;
  justify-content: space-between;
}
.flex-container-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 30%;
  margin: 20px 0;
}
.pedidos{
  h2{
    font: italic normal bold 32px Segoe UI;
    margin-bottom: 2%;
  }
}