<app-imagen-dron></app-imagen-dron>


<div class="tipos-alquiler">
    <div class="row">
        <div class="col-md-4 tools">
            <div class="card">
                <img class="tool-image" src="../../assets/images/independiente.jpg" alt="">
                <h4>Independiente</h4>
                <p class="texto-card">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum"</p>
                <button class="boton"> Ver Precios</button>
            </div>
        </div>
        <div class="col-md-4 tools">
            <div class="card">
                <img class="tool-image" src="../../assets/images/ConInstructor.jpg" alt="">
                <h4>Con Instructor</h4>
                <p class="texto-card">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum"</p>
                <button class="boton"> Ver Precios</button>

            </div>
        </div>
        <div class="col-md-4 tools">
            <div class="card">
                <img class="tool-image" src="../../assets/images/ConEdicion.jpg" alt="">
                <h4>Con Edición</h4>
                <p class="texto-card">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum"</p>
                <button class="boton"> Ver Precios</button>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <h5>Independiente</h5>
    <div class="row">
        <div class="col-md-6 top">
            <div class="card2">
                <img class="tool-image" src="../../assets/images/ConInstructor.jpg" alt="">
                <div class="row">
                    <div class="col-md-8 top2">
                        <h4>Mavic Air 2</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>30€/h</h4>
                    </div>
                </div>
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5">★</label>
                    </p>
                </form>
            </div>
        </div>
        <div class="col-md-6 top">
            <div class="card2">
                <img class="tool-image" src="../../assets/images/ConInstructor.jpg" alt="">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Walkera Tali H500</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>30€/h</h4>
                    </div>
                </div>
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5">★</label>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h5>Con Instructor</h5>
    <div class="row">
        <div class="col-md-6 top">
            <div class="card2">
                <img class="tool-image" src="../../assets/images/ConInstructor.jpg" alt="">
                <div class="row">
                    <div class="col-md-8 top2">
                        <h4>Instructor estándar</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>10€/h</h4>
                    </div>
                </div>
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5">★</label>
                    </p>
                </form>
            </div>
        </div>
        <div class="col-md-6 top">
            <div class="card2">
                <img class="tool-image" src="../../assets/images/ConInstructor.jpg" alt="">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Instructor experto</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>15€/h</h4>
                    </div>
                </div>
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5">★</label>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h5>Con Edición</h5>
    <div class="row">
        <div class="col-md-6 top">
            <div class="card2">
                <img class="tool-image" src="../../assets/images/ConInstructor.jpg" alt="">
                <div class="row">
                    <div class="col-md-8 top2">
                        <h4>Cortometraje</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>+10€/h</h4>
                    </div>
                </div>
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5">★</label>
                    </p>
                </form>
            </div>
        </div>
        <div class="col-md-6 top">
            <div class="card2">
                <img class="tool-image" src="../../assets/images/largometraje.jpg" alt="">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Largometraje</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>+30€/h</h4>
                    </div>
                </div>
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5">★</label>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

