/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$nav-text-color: #707070;
$amarillo-boton: #ffd99a;

@font-face {
  font-family: "AgencyFB";
  src: url("./assets/fonts/AgencyFB.ttf") format("truetype");
}

$font-chula: "AgencyFB";

.modal-content {
  border-radius: 40px !important;
  margin-top: 12rem !important;
}

.button-chulo {
  background-color: #ffd99a;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
}
